
venv
.venv
.flake8
pytoughreact/pytough_wrapper/pytough
pytoughreact/results/results_factory.py
pytoughreact/results/result_object_factory.py
pytoughreact/results/results.py
pytoughreact/treacteos1.exe
docs/user_guide.docx
docs/user_guide.pdf
treacteos1.exe
setup.py
chdump.out
chemical.inp
chemical.out
FIXPT
flow.inp
flow.out
flowdata.tec
flowvector.tec
GENER
INCON
iter.out
kdd_conc.tec
kdd_gas.tec
kdd_min.tec
kdd_tim.tec
LINEQ
MESH
runlog.out
SAVE
solute.inp
solute.out
TABLE
thddem.dat
VERS
savechem
tmvoc.exe
INFILE
MESHA
MESHB
OUTPUT
OUTPUT_CONNE.csv
OUTPUT_ELEME.csv
OUTPUT_GENER.csv

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class




