# virtual environment
venv
.venv
.flake8
src/pytough_wrapper/pytough
src/results/results_factory.py
src/results/result_object_factory.py
src/treacteos1.exe
treacteos1.exe
chdump.out
chemical.inp
chemical.out
FIXPT
flow.inp
flow.out
flowdata.tec
flowvector.tec
GENER
INCON
iter.out
kdd_conc.tec
kdd_gas.tec
kdd_min.tec
kdd_tim.tec
LINEQ
MESH
runlog.out
SAVE
solute.inp
solute.out
TABLE
thddem.dat
VERS
savechem
tmvoc.exe
INFILE
MESHA
MESHB
OUTPUT
OUTPUT_CONNE.csv
OUTPUT_ELEME.csv
OUTPUT_GENER.csv



