
venv
.venv
.flake8
.gitignore
pytoughreact/pytough_wrapper/pytough
pytoughreact/results/results_factory.py
pytoughreact/results/result_object_factory.py
pytoughreact/results/results.py
pytoughreact/treacteos1.exe
src/pytoughreact/pytough_wrapper/pytough
src/pytoughreact/results/results_factory.py
src/pytoughreact/results/result_object_factory.py
src/pytoughreact/results/results.py
src/pytoughreact/treacteos1.exe
test/geom.dat
docs/user_guide.docx
docs/user_guide.pdf

treacteos1.exe
**/treacteos1.exe*
setup.py
chdump.out
chemical.inp
chemical.out
FIXPT
flow.inp
flow.out
flowdata.tec
flowvector.tec
GENER
INCON
iter.out
kdd_gas.tec
kdd_min.tec
kdd_conc.tec
kdd_tim.tec
screen_info.out
LINEQ
runlog.out
SAVE
solute.inp
solute.out
TABLE
thddem.dat
VERS
savechem
tmvoc.exe
**/tmvoc.exe*
INFILE
MESHA
MESHB
OUTPUT
OUTPUT_CONNE.csv
OUTPUT_ELEME.csv
OUTPUT_GENER.csv
example_files/folder_1/kdd_conc.tec
example_files/folder_2/kdd_conc.tec 
example_files/folder_3/kdd_conc.tec



# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
upload_package.py
.mypy_cache


# documentation
# documentation/*
# !documentation/_build

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class





**/tmvoc.exe*
INFILE
MESHA
MESHB
OUTPUT
OUTPUT_CONNE.csv
OUTPUT_ELEME.csv
OUTPUT_GENER.csv
.vscode

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
upload_package.py
.mypy_cache


# documentation
# documentation/*
# !documentation/_build

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class




